<div id="<%= dom_id multiple_choice %>">
    <%# ID %>
    <h3>#<%= multiple_choice.id %></h3>

    <%# Question %>
    <p>
        <strong>Question:</strong>
        <%= multiple_choice.question %>
    </p>

    <%# Answer %>
    <p>
        <strong>Answer:</strong>
        <%= multiple_choice.answer %>
    </p>

    <%# Option A %>
    <p>
        <strong>A:</strong>
        <%= multiple_choice.a %>
    </p>

    <%# Option B %>
    <p>
        <strong>B:</strong>
        <%= multiple_choice.b %>
    </p>

    <%# Option C %>
    <p>
        <strong>C:</strong>
        <%= multiple_choice.c %>
    </p>

    <%# Option D %>
    <p>
        <strong>D:</strong>
        <%= multiple_choice.d %>
    </p>
</div>
