<div id="<%= dom_id keyword_transformation %>">
    <%# ID %>
    <h3>#<%= keyword_transformation.id %></h3>

    <%# Question %>
    <p>
        <strong>Question:</strong>
        <%= keyword_transformation.question %>
    </p>

    <%# Answer %>
    <p>
        <strong>Answer:</strong>
        <%= keyword_transformation.answer %>
    </p>

    <%# Keyword %>
    <p>
        <strong>Keyword:</strong>
        <%= keyword_transformation.keyword %>
    </p>

    <%# Prompt %>
    <p>
        <strong>Prompt:</strong>
        <%= keyword_transformation.prompt %>
    </p>
</div>
