<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <%# Home page link %>
        <%= link_to 'Splodge Academy', root_path, class: "navbar-brand" %>

        <%# Toggle button %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <%# Info page link %>
                <li class="nav-item">
                    <%= link_to 'Info', info_path, class: "nav-link" %>
                </li>

                <%# Multiple choices link %>
                <li class="nav-item">
                    <%= link_to 'Open Clozes', multiple_choices_path, class: "nav-link" %>
                </li>

                <%# Open clozes link %>
                <li class="nav-item">
                    <%= link_to 'Multiple Choices', open_clozes_path, class: "nav-link" %>
                </li>

                <%# Word formations link %>
                <li class="nav-item">
                    <%= link_to 'Word Formations', word_formations_path, class: "nav-link" %>
                </li>

                <%# Keyword transformations link %>
                <li class="nav-item">
                    <%= link_to 'Keyword Transformations', keyword_transformations_path, class: "nav-link" %>
                </li>
            </ul>

            <ul class="navbar-nav">
                <%= render "user/session_manager" %>
            </ul>
        </div>
    </div>
</nav>